body {
	font-family: monospace;
}

.indented {
	margin: 4px 16px;
	padding: 6px;
}

.indentedDark {
	margin: 4px 16px;
	padding: 6px;
	background-color: #eee;
}

.darkMode {
	background-color: black;
	color: green;
}

.pink {
	color: pink !important;
}

.babyBlue {
	color: lightBlue !important;
}

.highlight {
	background-color: yellow !important;
}